<html>
    <head>
        Hello Flask
    </head>
    <body>
        <h1> Welcome to Flask </h1>
        <p> This session is to learn how to use and work with Flask </p>
        <form method="post", action = '/submit'>
            <!-- Type your Name: <input type="text" name = 'name' placeholder="name" required="required"><br> -->
            <!-- Type your Phone Number: <input type="number" name = 'number' placeholder="phone number" required="required"><br> -->
            <!-- Type your Email Address: <input type="mail" name = 'email' placeholder="email address" required="required"><br> -->
            <input type="number" name = 'preg' placeholder="preg" required="required"><br>
            <input type="number" name = 'plas' placeholder="plas" required="required"><br>
            <input type="number" name = 'pres' placeholder="pres" required="required"><br>
            <input type="number" name = 'skin' placeholder="skin" required="required"><br>
            <input type="number" name = 'test' placeholder="test" required="required"><br>
            <input type="number" name = 'mass' placeholder="mass" required="required"><br>
            <input type="number" name = 'pedi' placeholder="pedi" required="required"><br>
            <input type="number" name = 'age' placeholder="age" required="required"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>